
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> php-cs-fixer ###
.php_cs.cache
###< php-cs-fixer ###
